@use 'breakpoints'
@use './globals/veriables'
    
.mainLineContainer
    position: relative

.sectionTwoTittle
    padding: 1rem
    border-bottom: 2px solid var(--text-color)

.svg
    position: absolute
    height: 100%
    width: 10px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 4

.sectionTwoMainContainer
    div:last-child
        margin: 0
        border: none
    
    .projectContainer
        display: flex
        justify-content: space-between
        border-bottom: 2px solid var(--text-color)

    .projectDescription
        display: flex
        justify-content: space-between
        flex-direction: column
        width: 40%

        .descriptionPadding
            padding: 0 1em

            h3
                position: relative
                z-index: 3

            p
                z-index: 4
                position: relative
        
        .buttonPadding
            padding: 0 1em
        
    .projectImageContainer
        width: 50%
        position: relative

        &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) 
            width: 100%
            height: 100%
            display: block
            background-color: var(--secondary-color)
            opacity: 0.6
            z-index: 2
            transition: veriables.$transitionSpeed ease opacity

        &:hover::after
            opacity: 0

        .projectImage
            width: 100%
            height: 100%
            object-fit: cover

        .block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 5
            background: var(--primary-color)

@include breakpoints.xl
    .projectContainer
        flex-direction: column-reverse

        .projectDescription
            width: 100%

        .projectImageContainer
            width: 100%

        .projectImage
            border-bottom: 2px solid var(--text-color)

    .svg
        display: none

@include breakpoints.xs
    .descriptionPadding
        padding: 0 0.5em

    .buttonPadding
        padding: 0 0.5em

.container
    position: relative

    .block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 5
        background: var(--primary-color)

.animate
        animation: showText 0.5s ease-in forwards

@keyframes showText
    0%
        width: 100%
    100%
        width: 0