@use 'breakpoints'

.sectionThreeMainContainer
    display: flex
    justify-content: space-between

    .sectionThreeText
        width: 50%
        padding: 1em

    .sectionThreeTech
        width: 50%

        .sectionThreeTechTitle
            padding: 1rem
            border-bottom: 2px solid var(--text-color)

        &:hover::after
            opacity: 0

        .projectImage
            width: 100%
            height: 100%
            object-fit: cover
    
    .techStackContainer
        display: grid
        grid-template-columns: repeat(3, minmax(140px, 200px))
        padding: 1rem

        li
            margin-bottom: 7px
            position: relative
            color: var(--text-color)

            &::before
                content: "▹"
                display: inline-block
                width: 15px
                margin-right: 3px

@include breakpoints.xl
    .sectionThreeMainContainer
        flex-direction: column

        .sectionThreeText
                width: 100%
    
        .sectionThreeTech
                width: 100%

        .techStackContainer
            grid-template-columns: repeat(4, minmax(140px, 200px))

@include breakpoints.sm
    .sectionThreeText
        padding: 0.5em

    .sectionThreeMainContainer

        .techStackContainer
            grid-template-columns: repeat(2, minmax(140px, 200px))

@include breakpoints.xs
    .sectionThreeMainContainer

        .sectionThreeImage
            height: 300px